
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); -%>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/formCarga.css">
</head>

<body>
    <%- include('partials/header.ejs'); -%>
    <main>
    <h2>Carga tu producto</h2>
    <form action="/paquetes/formCarga/create" method="post">
        <div class="content">
            <label for="origen">Origen:</label>
            <input type="text" id="origen" name="origen" required>

            <label for="destino">Destino:</label>
            <input type="text" id="destino" name="destino" required>

            <label for="precio">Precio:</label>
            <input type="number" id="precio" name="precio" required>

            <label class="graf" for="periodo">Periodo:</label>
            <select class="grafopt" id="periodo" name="periodo" required>
                <option value="">Selecciona una opción</option>
                <option value="1er trimestre">1er trimestre</option>
                <option value="2do trimestre">2do trimestre</option>
                <option value="3er trimestre">3er trimestre</option>
                <option value="4to trimestre">4to trimestre</option>
                </select>
                
                <label class="graf" for="imagen">Imagen de Paquete</label>
                <br>
                <input class="grafopt" type="file" id= "imagen" name="imagen" placeholder="Agregar imagen de paquete" class ="styleinput"
                <%= locals.errors && errors.imagen ? "is-invalid": null %>"
                > 
                <% if (locals.errors && errors.imagen) { %>
                <div class = "text-danger">
                  <%= errors.imagen.msg %>
                </div>
              <% } %>

            <label class="graf" for="traslado">Traslado:</label>
            <select class="grafopt" id="traslado" name="traslado" required>
                <option value="">Selecciona una opción</option>
                <option value="1ra clase">1ra clase</option>
                <option value="Económico">Económico</option>
                </select>

            <label class="graf" for="alojamiento">Alojamiento:</label>
            <select class="grafopt" id="alojamiento" name="alojamiento" required>
                <option value="">Selecciona una opción</option>
                <option value="Hotel">Hotel</option>
                <option value="Cabaña">Cabaña</option>
                <option value="Casa">Casa</option>
                </select>

            <label class="graf" for="habitacion">Tipo de habitación:</label>
            <select class="grafopt" id="habitacion" name="habitacion" required>
            <option value="">Selecciona una opción</option>
            <option value="King">King</option>
            <option value="Queen">Queen</option>
            <option value="Quad">Quad</option>
            <option value="Triple">Triple</option>
            <option value="Doble">Doble</option>
            <option value="Individual">Individual</option>
            </select>

            <label class="graf" for="dias">Cantidad de días:</label>
            <select class="grafopt" id="dias" name="dias" required>
                <option value="">Selecciona una opción</option>
                <option value="semana">7</option>
                <option value="quincena">14</option>
                <option value="21">21</option>
                </select>

            <label class="graf" for="oferta">Porcentaje de Oferta:</label>
            <select class="grafopt" id="oferta" name="oferta" required>
                <option value="">Selecciona una opción</option>
                <option value="0">0</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                </select>
                <br>
                <br>

            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </div>
    </form>
</main>
    <%- include('partials/footer.ejs'); -%>
</body>

</html>