<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head.ejs'); -%>
        <!-------vinculo hoja de estilo css-->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/productDetail.css" />
    </head>
    <body>
        <%- include('partials/header.ejs'); -%>
        <!-------main------------->
        <main>
            <main>
                <div class="product">
                  <img src="/img/paquetes/<%= producto.imagen %>" alt=<%= producto.destino %> />
                  <h2><%= producto.destino %></h2>
                  <h2><%= producto.periodo %></h2>
                  <h3>Precio: $<%= producto.precio %></h3>
                  <button type="submit">Agregar al carrito</button>
                </div>
              </main>
            
        </main>
        <%- include('partials/footer.ejs'); -%>
    </body>
</html>