<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs'); -%>
    <!-------vinculo hoja de estilo css-->
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include('partials/header.ejs'); -%>
    <main class="background-img">
      <div class="background-form">
        <h2 class="registertitle">Crear nueva cuenta</h2>
        <section class="styleform">
        <form action="/register" method="POST" enctype="multipart/form-data" class="register">
          <legend class="legend">
            <span>Información Personal</span>
          </legend>
          <article class="stylearticle">
            <div class="styledate">
                <label for="name">Nombre</label>
                <br>
                <input class="styleinput" type='text' name="name" id="name" placeholder="Indique su nombre" maxlength="40" mb-form-field-input="" value="<%= locals.oldData ? oldData.name:null %>" > 
                  <% if (locals.errors && errors.name){%>
                      <div class="text-danger">
                         <%= errors.name.msg %>
                      </div>
                  <%}%>
            </div>
            <div class="styledate">
              <label for="surname">Apellido</label>
              <br>
              <input class="styleinput" type='text' name="surname" id="surname" placeholder="Ingrese su apellido" maxlength="40" mb-form-field-input="" value="<%= locals.oldData ? oldData.surname:null %>" > 
                <% if (locals.errors && errors.surname){%>
              <div class="text-danger">
                <%= errors.surname.msg %>
              </div>
              <%}%>
          </div> 
            <div class="styledate">
                <label for="birthdate">Fecha de nacimiento</label>
                <br>
                <input class="styleinput"  type='date' name="birthdate" id="birthdate" placeholder="Indique su fecha de nacimiento"  >
                <% if (locals.errors && errors.birthdate){%>
                  <div class="text-danger">
                    <%= errors.birthdate.msg %>
                  </div>
                  <%}%>
            </div>
            <div class="styledate">
                <label for="dni">DNI</label>
                <br>
                <input class="styleinput" type='text' name="dni" id="dni" placeholder="Ingrese su número DNI" maxlength="10" mb-form-field-input="" value="<%= locals.oldData ? oldData.dni:null %>" > 
                  <% if (locals.errors && errors.dni){%>
                <div class="text-danger">
                  <%= errors.dni.msg %>
                </div>
                <%}%>
            </div>      
              <div class="styledate">
                  <label for="phone">Teléfono</label>
                  <br>
                  <input class="styleinput"  type='tel' name="phone" id="phone" placeholder="Indique su número telefónico" value="<%= locals.oldData ? oldData.phone:null %>" >
                  <% if (locals.errors && errors.phone){%>
                    <div class="text-danger">
                      <%= errors.phone.msg %>
                    </div>
                  <%}%>
              </div>
              <div class="styledate">
                <label for="imagenUsuario">Imagen de Perfil</label>
                <br>
                <input type="file" id= "imagenUsuario" name="imagenUsuario" placeholder="Agregar imagen de perfil" class ="styleinput
                <%= locals.errors && errors.imagenUsuario ? "is-invalid": null %>"
                > 
                <% if (locals.errors && errors.imagenUsuario) { %>
                <div class = "text-danger">
                  <%= errors.imagenUsuario.msg %>
                </div>
              <% } %>
              </div>
                  <div class="styledate">
                    <label>Categoria:</label>
                    <select name = "type" class="form-select <%=locals.errors && errors.type ? "is-invalid": null %>">
                    <option value=""> selecciona una categoria</option>
                    <% 
                      let type = ["Cliente","Administrador"];
                    %> 
                    <% for (const unaCategoria of type) { %>
                    <option
                      value="<%= unaCategoria %>"
                      <%= locals.oldData && (unaCategoria === oldData.type) ? 'selected' : "" %>
                      ><%=unaCategoria %></option>
                     <% } %> 
                    </select>
                    <% if (locals.errors && errors.type) {%>
                      <div class="text-danger">
                        <%= errors.type.msg %>
                      </div>
                    <%}%>
                  </div>
              </article>
              <legend>
                <span>Información de Login</span>
              </legend>
              <article class="stylearticle">
                <div class="styledate">
                    <label for="email">Usuario</label>
                    <br>
                    <input class="styleinput"  type='text' name="email" id="email" placeholder="Indique su email" value="<%= locals.oldData ? oldData.email:null %>">
                    <% if (locals.errors && errors.email){%>
                      <div class="text-danger">
                      <%= errors.email.msg %>
                      </div>
                  <%}%>
                </div>
            <div class="styledate">
                <label for="password">Contraseña</label>
                <br>
                <input class="styleinput"  type='password' name="password" id="password" placeholder="Contraseña" >
                <% if (locals.errors && errors.password){%>
                  <div class="text-danger">
                    <%= errors.password.msg %>
                  </div>
                <%}%>
            </div>
            <div class="styledate">
                <label for="confpassword">Confirmar Contraseña</label>
                <br>
                <input class="styleinput"  type='password' name="confpassword" id="confpassword" placeholder="Confirme Contraseña" >
                <% if (locals.errors && errors.confpassword){%>
                  <div class="text-danger">
                    <%= errors.confpassword.msg %>
                  </div>
                <%}%>
            </div>
            </article>
          </section>
            <article class="displaybutton">
            <button type="reset">Borrar datos</button>
            <button type="submit">Enviar</a></button>
            </article>
        </form>
      </div>
    </main>
    <%- include('partials/footer.ejs'); -%>

<!--   <script>
    const webLogo = document.querySelector('#logo')
    webLogo.addEventListener('click', () => {
            if(window){
                window.location.href = '/'
            }else{  
                alert('Ocurrio un error al redirigir.')
            }
    })
</script> -->
  </body>
</html>