<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); -%>
    <!-------vinculo hoja de estilo css-->
     <link rel="stylesheet" href="/css/userProfile.css" />
</head>
<body>
    <%- include('partials/header.ejs'); -%>
        <!-------main------------->
<main>
    <div class ="container" style="margin-top: 40px;">
        <div class="row">
            <div class="col-md-3">
                <h2>Hi <%= user.firstName %> <%=user.lastName %></h2>
                <div>
                    <img src = "/img/profileImages/<%=user.avatar%>">
                </div>
                <br>
                <br>
                <div class="alert alert-success"><%= user.email%></div>
                <button class="btn btn-danger"><a href="/userProfile/logout">Logout</a></button>
            </div>
        </div>

    </div>
</main>
<%- include('partials/footer.ejs'); -%>
</body>
</html>